# .coveragerc to control coverage.py
[run]
source = lsys
branch = True
include = lsys/*.py
omit =
    lsys/tests/*
    lsys/cli.py

[report]
include = lsys/*.py
ignore_errors = True
omit =
    lsys/tests/*
    lsys/cli.py

# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    pass
